
$mat-library: (
    50 : #fae4e8,
    100 : #f2bdc5,
    200 : #e9919f,
    300 : #e06479,
    400 : #da435c,
    500 : #d3223f,
    600 : #ce1e39,
    700 : #c81931,
    800 : #c21429,
    900 : #b70c1b,
    A100 : #ffe4e6,
    A200 : #ffb1b6,
    A400 : #ff7e86,
    A700 : #ff646e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);